@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Outward Block';
  src: url('fonts/outward-block.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */