---
import { Icon } from "astro-icon/components";
import "../styles/global.css";

import Main from "../layouts/Main.astro";
import Copytxt from "../components/Copytxt";

const commitHash = import.meta.env.PUBLIC_COMMIT_HASH;
---

<Main>
	<div class="flex justify-between p-2 text-xs text-gray-500">
		<div id="reloj"></div>
		<div class="flex items-center space-x-1">
			<code>{commitHash}</code><Icon name={"mdi:source-branch"} />
		</div>
	</div>
	<main class="flex flex-col justify-center items-center">
		<div class="w-[55%] md:w-[40%] lg:w-[32%] my-8">
			<!-- Profile -->
			<div class="grid grid-cols-2 gap-4">
				<!-- Avatar -->
				<div class="row-span-2 overflow-hidden">
					<img
						class="object-cover w-full h-full"
						src="img/profile.png"
						alt="Profile"
					/>
				</div>
				<!-- Info -->
				<div class="flex flex-col">
					<h1 class="text-sm text-gray-500">
						Hola, Soy Sergi Florensa
					</h1>
					<div class="flex justify-between text-xl">
						<h2 class="text-[1.7rem] ">
							Programador <span class="font-bold text-red-500"
								>Front End</span
							>
							Junior
						</h2>
					</div>
				</div>

				<div class="">
					<p class="text-xs text-gray-500 col-span-4 ">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae delectus magni a fugiat ratione enim voluptate eligendi sequi debitis facere?
					</p>
				</div>
			</div>

			<!-- About Me -->
			<!-- <div class="text-sm">
				<p>
					Desarrollador de aplicaciones con formación en SMX y DAM.
					Experiencia en React Native, React y Astro. Comprometido con
					la mejora continua y la entrega de soluciones funcionales,
					eficientes y escalables.
				</p>
			</div> -->

			<hr class="w-[100%] h-[1px] my-4" />

			<!-- Experinece -->
			<div>
				<h2 class="text-2xl font-semibold">Experinecia Profesional</h2>

				<div class="grid grid-cols-5 grid-rows-2 gap-2 my-4">
					<div class="col-[1/4] flex flex-col justify-center">
						<h3 class="text-xl">Quimega</h3>
						<p class="text-[0.75rem]">
							Administrador de Contenidos Web
						</p>
					</div>
					<div class="col-span-2">
						<span
							class="inline-flex items-center gap-1 bg-[#21759b]/10 text-[#21759b] px-2 py-1 rounded-full text-sm font-medium"
						>
							<Icon name="mdi:wordpress" class="w-4 h-4" />
							WordPress
						</span>

						<span
							class="inline-flex items-center gap-1 bg-[#00c853]/10 text-[#00c853] px-2 py-1 rounded-full text-sm font-medium"
						>
							<Icon name="mdi:magnify" class="w-4 h-4" />
							SEO
						</span>
					</div>
					<div class="col-[1/6] text-xs">
						<ul>
							<li>
								-Gestioné y optimicé contenidos en WordPress con
								enfoque SEO, participando en el diseño,
								implementación y pruebas para mejorar la
								experiencia del usuario.
							</li>
						</ul>
					</div>
				</div>

				<div class="grid grid-cols-5 grid-rows-2 gap-2 my-4">
					<div class="col-[1/4] flex flex-col justify-center">
						<h3 class="text-xl">Dispromedia</h3>
						<p class="text-[0.75rem]">
							Desarrollador de Aplicaciones Móviles
						</p>
					</div>
					<div class="col-span-2">
						<span
							class="inline-flex items-center gap-1 bg-[#61dafb]/10 text-[#61dafb] px-2 py-1 rounded-full text-sm font-medium"
						>
							<Icon name="mdi:react" class="w-4 h-4" />
							React Native
						</span>
					</div>
					<div class="col-[1/6] text-xs">
						<ul>
							<li>
								-Desarrollé una aplicación móvil multiplataforma
								en React Native y Realm para un cliente real,
								participando en todo el ciclo de vida del
								proyecto junto al equipo.
							</li>
						</ul>
					</div>
				</div>
			</div>

			<hr class="w-[100%] h-[1px] my-4" />

			<!-- Projects -->
			<div>
				<h2 class="text-2xl font-semibold">Proyectos</h2>
				<div class="grid grid-cols-6 grid-rows-6 gap-4 my-4">
					<!-- Proyecto grande (2x4) -->
					<div
						class="col-span-4 row-span-3 rounded-2xl p-4 shadow-md hover:shadow-lg grid grid-cols-5 grid-rows-4"
					>
						<div class="flex col-span-4">
							<h4>Bot de Discord</h4>
						</div>

						<div class="place-self-center">
							<a
								href="https://github.com/Waximusglub/Develop-Bot"
								target="_blank"
								rel="noopener noreferrer"
							>
								<Icon name="mdi:link" class="w-4 h-4" />
							</a>
						</div>
					</div>

					<!-- Proyecto alto (2x3) -->
					<div
						class="col-span-2 row-span-3 rounded-2xl p-4 shadow-md hover:shadow-lg grid grid-cols-5 grid-rows-4"
					>
						<div class="flex col-span-4">
							<h4>P2</h4>
						</div>

						<div class="place-self-center">
							<Icon name="mdi:link" class="w-4 h-4" />
						</div>
					</div>

					<!-- Proyecto pequeño (2x2) -->
					<div
						class="col-span-2 row-span-2 rounded-2xl p-4 shadow-md hover:shadow-lg grid grid-cols-5 grid-rows-4"
					>
						<div class="flex col-span-4">
							<h4>P3</h4>
						</div>

						<div class="place-self-center">
							<Icon name="mdi:link" class="w-4 h-4" />
						</div>
					</div>

					<!-- Proyecto rectangular (4x2) -->
					<div
						class="col-span-4 row-span-2 rounded-2xl p-4 shadow-md hover:shadow-lg grid grid-cols-5 grid-rows-4"
					>
						<div class="flex col-span-4">
							<h4>P4</h4>
						</div>

						<div class="place-self-center">
							<Icon name="mdi:link" class="w-4 h-4" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Main>

<script>
	function mostrarHoraLocal() {
		const ahora = new Date();
		const horas = ahora.getHours().toString().padStart(2, "0");
		const minutos = ahora.getMinutes().toString().padStart(2, "0");
		const segundos = ahora.getSeconds().toString().padStart(2, "0");

		const relojElemento = document.getElementById("reloj");
		if (relojElemento) {
			relojElemento.textContent = `${horas} : ${minutos} : ${segundos}`;
		}
	}

	setInterval(mostrarHoraLocal, 1000);

	mostrarHoraLocal();
</script>
