---
import { Icon } from "astro-icon/components";
import "../styles/global.css";

import Main from "../layouts/Main.astro";
import Copytxt from "../components/Copytxt";

const commitHash = import.meta.env.PUBLIC_COMMIT_HASH;
---

<Main>
	<main class="flex flex-col justify-center items-center">
		<div class="w-[55%] md:w-[40%] lg:w-[25%] my-8">
			<!-- Profile -->
			<div class="grid grid-cols-2 gap-4">
				<!-- Avatar -->
				<div class="row-span-2 overflow-hidden rounded-lg relative">
					<img class="object-cover w-full h-full" src="img/profile.png" alt="Profile" />
					<div class="absolute bottom-0 right-8 text-base text-[#e2e2e2]">
						<code>{commitHash}</code><Icon name={"mdi:source-branch"} />
					</div>
				</div>
				<!-- Info -->
				<div class="flex flex-col justify-center">
					<h1 class="text-xl">Sergi Florensa Rojo</h1>
					<div
						class="flex justify-between font-thin text-base py-xxs"
					>
						<h2>Programador Junior</h2>
						<Copytxt
							textcopyed="https://waximusglub.github.io/portfolio_SF/"
							client:load
							stylesbtn="text-base"
						>
							<Icon name={"mdi:link"} />
						</Copytxt>
					</div>
				</div>

				<div class="grid grid-cols-4">
					<div class="text-[#D14836]">
						<Copytxt
							textcopyed="sflorensadev@gmail.com"
							client:load
						>
							<Icon name="mdi:gmail" class="w-8 h-8" />
						</Copytxt>
					</div>
					<div class="text-black">
						<a href="https://github.com/Waximusglub" target="_blank"
							><Icon name="mdi:github" class="w-8 h-8" /></a
						>
					</div>
					<div class="text-[#0A66C2]">
						<a
							href="https://www.linkedin.com/in/sergi-florensadev/"
							target="_blank"
							><Icon name="mdi:linkedin" class="w-8 h-8" /></a
						>
					</div>

					<div class="text-[#f03838]">
						<a
							href="doc/CV_Sergi-Florensa.pdf"
							class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-1.5 py-1"
							download>CV</a
						>
					</div>
				</div>
			</div>

			<hr class="w-[100%] h-[1px] my-4" />

			<!-- About Me -->
			<div class="text-sm">
				<p>
					Desarrollador de aplicaciones con formación en SMX y DAM.
					Experiencia en React Native, React y Astro. Comprometido con
					la mejora continua y la entrega de soluciones funcionales,
					eficientes y escalables.
				</p>
			</div>

			<hr class="w-[100%] h-[1px] my-4" />

			<!-- Experinece -->
			<div>
				<h2 class="text-2xl font-semibold">Experinecia Profesional</h2>

				<div class="grid grid-cols-5 grid-rows-2 gap-2 my-4">
					<div class="col-[1/4] flex flex-col justify-center">
						<h3 class="text-xl">Quimega</h3>
						<p class="text-[0.75rem]">
							Administrador de Contenidos Web
						</p>
					</div>
					<div class="col-span-2"></div>
					<div class="col-[1/6] text-xs">
						<ul>
							<li>
								-Gestioné y optimicé contenidos en WordPress con
								enfoque SEO, participando en el diseño,
								implementación y pruebas para mejorar la
								experiencia del usuario.
							</li>
						</ul>
					</div>
				</div>

				<div class="grid grid-cols-5 grid-rows-2 gap-2 my-4">
					<div class="col-[1/4] flex flex-col justify-center">
						<h3 class="text-xl">Dispromedia</h3>
						<p class="text-[0.75rem]">
							Desarrollador de Aplicaciones Móviles
						</p>
					</div>
					<div class="col-span-2"></div>
					<div class="col-[1/6] text-xs">
						<ul>
							<li>
								-Desarrollé una aplicación móvil multiplataforma
								en React Native y Realm para un cliente real,
								participando en todo el ciclo de vida del
								proyecto junto al equipo.
							</li>
						</ul>
					</div>
				</div>
			</div>

			<hr class="w-[100%] h-[1px] my-4" />

			<!-- Projects -->
			<div>
				<h2 class="text-2xl font-semibold">Proyectos</h2>

				<div class="grid grid-cols-5 grid-rows-2 gap-2 my-4">
					<div class="col-[1/4] flex flex-col justify-center">
						<h3 class="text-xl">Quimega</h3>
						<p class="text-[0.75rem]">
							Administrador de Contenidos Web
						</p>
					</div>
					<div class="col-span-2"></div>
					<div class="col-[1/6] text-xs">
						<ul>
							<li>
								-Gestioné y optimicé contenidos en WordPress con
								enfoque SEO, participando en el diseño,
								implementación y pruebas para mejorar la
								experiencia del usuario.
							</li>
						</ul>
					</div>
				</div>

				<div class="grid grid-cols-5 grid-rows-2 gap-2 my-4">
					<div class="col-[1/4] flex flex-col justify-center">
						<h3 class="text-xl">Dispromedia</h3>
						<p class="text-[0.75rem]">
							Desarrollador de Aplicaciones Móviles
						</p>
					</div>
					<div class="col-span-2"></div>
					<div class="col-[1/6] text-xs">
						<ul>
							<li>
								-Desarrollé una aplicación móvil multiplataforma
								en React Native y Realm para un cliente real,
								participando en todo el ciclo de vida del
								proyecto junto al equipo.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</main>
</Main>

<script>
	function mostrarHoraLocal() {
		const ahora = new Date();
		const horas = ahora.getHours().toString().padStart(2, "0");
		const minutos = ahora.getMinutes().toString().padStart(2, "0");
		const segundos = ahora.getSeconds().toString().padStart(2, "0");

		const relojElemento = document.getElementById("reloj");
		if (relojElemento) {
			relojElemento.textContent = `${horas} : ${minutos} : ${segundos}`;
		}
	}

	setInterval(mostrarHoraLocal, 1000);

	mostrarHoraLocal();
</script>
