---
import ProjectCards from "../components/ProjectCards.astro";
import Blank from "../layouts/Blank.astro";

---

<Blank>
    <main>
        <p>Proyectos</p>
        <ProjectCards />
    </main>
</Blank>