---
import { Icon } from 'astro-icon/components'
---

<div class="bg-gray-400 rounded-full flex justify-evenly p-2">

    <div>

    </div>
    <div>
        <a href="https://github.com/Waximusglub" class="bg-slate-50 rounded-full p-2"><Icon name="mdi:github" font-size={30} /></a>
    
        <a href="mailto:sflorensadev@gmail.com" class="bg-slate-50 rounded-full p-2"><Icon name="mdi:email" font-size={30} /></a>
    </div>
    <div>

    </div>


    <a href="https://github.com/Waximusglub" class="bg-slate-50 rounded-full p-2"><Icon name="mdi:github" font-size={30} /></a>
    
    <a href="https://github.com/Waximusglub" class="bg-slate-50 rounded-full p-2"><Icon name="mdi:github" font-size={30} /></a>

    <a href="https://github.com/Waximusglub" class="bg-slate-50 rounded-full p-2"><Icon name="mdi:github" font-size={30} /></a>

    <a href="https://github.com/Waximusglub" class="bg-slate-50 rounded-full p-2"><Icon name="mdi:github" font-size={30} /></a>

</div>