---

---

<header class="text-pigeon font-bold grid grid-cols-3 grid-rows-1 px-10 py-1">
    <div class="col-span-2 ">
        <div id="reloj">Cargando hora...</div>
    </div>

    <div class="col-start-3 flex justify-end">
        <a
            class="hover:uppercase hover:text-coral transition-all duration-500 ease-out tracking-normal hover:tracking-wider"
            href="">
            about me
        </a>
        ,
        <a
            class="hover:uppercase hover:text-coral transition-all duration-500 ease-out tracking-normal hover:tracking-wider"
            href="">
            projects
        </a>
        ,
        <a
            class="hover:uppercase hover:text-coral transition-all duration-500 ease-out tracking-normal hover:tracking-wider"
            href="">
            resume
        </a>
    </div>
</header>


