---
import { Icon } from 'astro-icon/components'
---

<div id="hero" class="flex">
    <!-- Profile -->
    <div class="px-5">
        <h1 class="text-8xl ">Sergi Florensa</h1>
        <div class="flex py-5">
            <a href="https://github.com/Waximusglub" target="_blank" class="p-2"><Icon name="mdi:github" font-size={80} /></a>
            <a href="https://www.linkedin.com/in/sergi-florensadev/" target="_blank" class="p-2"><Icon name="mdi:linkedin" font-size={80} /></a>
            <a href="mailto:sflorensadev@gmail.com" class="p-2"><Icon name="mdi:gmail" font-size={80} /></a>
            <a href="/public/CV_Sergi_Florensa.pdf" download="CV_Sergi_Florensa.pdf" class="p-2"><Icon name="mdi:file-account" font-size={80} /></a>
        </div>
    </div>
    <!-- DividerColor -->
    <dir class="bg-red-400 w-2 h-vh"></dir>
    <!-- Nav -->
    <div class="text-7xl">
        <a href=""><h2 class="p-5 hover:bg-red-400">Sobre Mi</h2></a>

        <a href=""><h2 class="p-5 hover:bg-red-400">Proyectos</h2></a>
    </div>
</div>

<style>
    #hero {
        opacity: 1;
        transform: translate(calc(-2% + var(--x)), calc(2% + var(--y)))
            skewX(-48deg) skewY(14deg) scaleX(2) scale(0.34)
            rotate(var(--rotate)) translateZ(0);
        --rotate: 0deg;
        --x: 0px;
        --y: 0px;

        height: 95vh;
        width: 100vw;
        
    }
</style>





