---

---

<div id="hero" class="grid grid-cols-5 grid-rows-5 gap-0">
    <div class="col-span-3 col-start-2 row-start-3">
        <h1 class="text-9xl text-center">Sergi FR</h1>
    </div>
    <div class="col-start-5 row-start-1 bg-blue-200 hover:shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] transition-all duration-500 ease-out">
        <a
            href="/portfolio_SF/CV_Sergi_Florensa.pdf"
            download="CV_Sergi_Florensa.pdf">
            CV
        </a>
    </div>

    <div class="col-span-2 row-span-2 col-start-1 row-start-1 bg-yellow-300 hover:shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] transition-all duration-500 ease-out">
    </div>

    <div class="col-span-3 col-start-1 row-start-5 bg-red-200 hover:shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] transition-all duration-500 ease-out"></div>

    <div class="row-span-2 col-start-5 row-start-4 bg-orange-300 hover:shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] transition-all duration-500 ease-out"><h2 class="uppercase text-7xl text-white">Proyectos</h2></div>
</div>

<style>
    #hero {
        opacity: 1;
        transform: translate(calc(-2% + var(--x)), calc(2% + var(--y)))
            skewX(-48deg) skewY(14deg) scaleX(2) scale(0.4)
            rotate(var(--rotate)) translateZ(0);
        --rotate: 0deg;
        --x: 0px;
        --y: 0px;

        height: 100vh;
        width: 100vw;

    }
</style>
