---

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portafolio de Sergi Florensa Rojo generado con el framework Astro."
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portafolio de Sergi Florensa</title>
		<link rel="icon" type="image/png" href="img/profile.png" />
		<meta
			name="keywords"
			content="Sergi Florensa, Portafolio, Desarrollo Web, Astro, Frontend, Backend, Diseño Web, Proyectos Web, Programador, HTML, CSS, JavaScript, React, Node.js, Desarrollo Full Stack, Sitios Responsivos, SEO, Freelance, Desarrollo de Software, Aplicaciones Web"
		/>
		<meta name="author" content="Sergi Florensa Rojo" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	body{
		/* background-color: #242021; */
	}
</style>
